*~
\#*\#
.\#*
sitemaps/
sitemap1.txt
config.py
keys/
app/local_settings.py
*~
.#*.*
*.pyc
*.pyo
*.swp
*.swo
*.rar
*.bak
local_settings.py
push.sh
data.tar.gz
*.dmp
DATA/*
data/bad/
media/uploads/*
log.txt
tmp.txt
media/photos/
tmp/
build/
python-sdk/
media/uploads/
touch.file
*.pid
examples/
art/icons/
.env
.env.prod
binlog*
redditprn/sphinx.conf
data/
_index/
media/
*.log

