python-dotenv
poetry
aerich
click
aiohttp
tortoise-orm[asyncpg]
python-telegram-bot[job-queue]
pillow
slugify
yt-dlp
bgutil-ytdlp-pot-provider>=1.3.1,<2.0.0
curl-cffi>=0.15.0,<0.16.0
sanic
sanic-ext
pydantic-settings
jinja2
mutagen
