{% extends "base.html" %}

{% block content %}
<div class="bg-white rounded-lg shadow-md p-6 mb-6">
    <h1 class="text-2xl font-bold mb-6">Категории / Тэги</h1>
    
    <!-- Create Category Form -->
    <div>
        <h2>Добавить категорию:</h2>
        <form hx-post="/categories" 
              hx-target="#categories-table" 
              hx-swap="beforebegin"
              hx-indicator="#submit-indicator"
              class="">
            <div class="flex-grow">
                <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Название: </label>
                <input type="text" 
                       id="name" 
                       name="name" 
                       required>
                  <div class="form-actions">
                    <button type="submit" class="btn">
                      <span>Добавить категорию</span>
                    </button>
                  </div>
            </div>
        </form>
        <div id="form-error" class="text-red-600 mt-2"></div>
    </div>
    
    <!-- Categories List -->
    <div style="margin-top:20px;">
        <table >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Категория</th>
                    <th>Идентификаторы</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="categories-table">
              {% for category in categories %}
              {% include "categories/row.html" %}
              {% endfor %}
            </tbody>
        </table>
        
        <!-- Empty State -->
        {% if not categories %}
            <div id="empty-state" class="text-center py-8 bg-gray-50 rounded-lg mt-4">
                <p class="text-gray-600">Категорий пока нет</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
