                    <tr id="source-{{ source.id }}" class="hover:bg-gray-50">
                        <td>{{ source.id }}</td>
                        <td>
                            {{ source.name }}
                        </td>
                        <td>
                            <span id="source-url-{{ source.id }}" style="max-width:400px; overflow: hidden; display: flex;">
                                <a href="{{ source.url }}" target="_blank" class="text-blue-600 hover:underline truncate block max-w-xs">
                                    {{ source.url }}
                                </a>
                            </span>
                          </td>
                          <td>
                            <a href="/podcasts?tg_id={{ source.tg_channel.id }}">{{ source.tg_channel }}</a>
                          </td>
                        <td>
                                <button hx-post="/sources/{{ source.id }}/delete"
                                        hx-confirm="Are you sure you want to delete this source? This will also delete all associated podcasts."
                                        hx-target="#source-{{ source.id }}"
                                        hx-swap="outerHTML"
                                        class="btn">
                                    Delete
                                </button>
                        </td>
                    </tr>
