<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}Панель управления Youtube/Telegram видео бота</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?v16" />
      <script defer src="{{ STATIC_URL }}js/htmx.js"></script>
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-header">
              <a href="/"><img src="{{ STATIC_URL }}images/logo.png" width="200px" /></a>
              <h2>Панель управления</h2>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li ><a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li><a href="/sources"><i class="fas fa-users"></i> Каналы</a></li>
                    <li><a href="/podcasts"><i class="fas fa-box"></i> Подкасты</a></li>
                    <li><a href="/categories"><i class="fas fa-chart-line"></i> Категории</a></li>
                </ul>
            </div>
        </div>
        
        <!-- Main Content -->
        <div class="main-content">
            <!--<div class="header">
                <input type="text" class="search-bar" placeholder="Поиск...">
            </div>-->
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

