{% extends "base.html" %}
{% block content %}
            <!-- Dashboard Cards -->
            <div class="dashboard-cards">
                <div class="card">
                    <div class="card-header">Всего каналов</div>
                    <div class="card-value"><a href="/sources">{{ channels_count }}</a></div>
                </div>
                <div class="card">
                    <div class="card-header">Всего подкастов</div>
                    <div class="card-value"><a href="/podcasts">{{ podcasts_count }}</a></div>
                </div>
                <div class="card">
                    <div class="card-header">Категории</div>
                    <div class="card-value"><a href="/categories">{{ categories_count }}</a></div>
                </div>
            </div>
            
            <!-- Recent podcasts -->
            <div class="table-container">
              <h3>Последние загруженные подкаcты:</h3>
              {% include "podcasts/pod-list.html" %}
            </div>

{% endblock %}

